@font-face
  font-family: 'Chelt Book';
  src: url('../fonts/CheltenhamStdBook.otf') format('opentype');
@font-face
  font-family: 'Chelt Italic';
  src: url('../fonts/CheltenhamStdBookItalic.otf') format('opentype');
@font-face
  font-family: 'Chelt Bold';
  src: url('../fonts/CheltenhamStdBold.otf') format('opentype');

@import "~bulma/sass/utilities/initial-variables"

@import "~bulma"

$body-color: #333333
$black: #2b2523

.navbar .navbar-menu
  box-shadow:none !important

.navbar-item
  padding-left: 18px
  font-family: "Chelt Bold"
  font-size: 1rem
  letter-spacing: 0.5px


#tree
  padding-bottom: 30px

a
  color: $black

a:hover
  color: #336633
  text-decoration: underline
  cursor: pointer

a.navbar-item:hover
  color: #336633
  text-decoration: underline
  cursor: pointer

a.has-text-weight-bold:hover
  color: #336633
  cursor: pointer

#logo
  padding: 0
  color: $black

#logo:hover
  color: #336633
  text-decoration: underline
  cursor: pointer

.menu-label
  font-size: 1em !important
  text-align: left

.menu-list
  list-style: none !important
  text-align: left

body
  font-family: 'Chelt Book', Georgia, Times New Roman, serif
  font-size: 1rem

h1 h2 h3 h4
  letter-spacing: 3px

img
  padding: 14px 0


#postContainer
  width: 100%
  margin-left: 35%

#dates
  margin-bottom: 5vh

#widget
  padding-bottom: 5vh

#logo
  padding-left: 10px

.navbar
  position: fixed
  top: 0px
  background: transparent
  width: 100%

.nav-bar-brand
  padding-left: 10px

.imageContainer
  position: fixed
  top: 0
  right: 0
  z-index: -5
  height: 85vh
  width: 45vw
  overflow: auto

.idxImg
  opacity: 0

.idxImgHover
  opacity: 1

.marginTop
  margin-top: 150px

.searchResult
  background-color: #ffffff

.search
  border: 0
  border-bottom: 5px solid $body-color
  background-color: white
  font-family: 'Chelt Book', Georgia, serif
  font-size: 1.75em
  width: 60%
  transition: all 0.5s ease-out

.search:focus
  outline: none
  border-color: #336633
  transition: all 0.5s ease-out

li
  list-style-type: none
  padding: 2vh 0

.navbar-item img
  max-height: none

.donateButton
  width: 115px
  margin: 10px 0 0 0
  z-index: -10;

.gg-logo
  width: auto
  height: 170px

.navbar .navbar-menu
    text-align: center
    position: relative
    bottom: 82px

.navbar-burger
  bottom: 125px

.content table tbody tr:last-child td
  border-bottom-width: 1px

.content table td
  border-width: 1px

.flex-col
  display: flex
  align-items: center
  margin-bottom: 1rem


@media screen and (max-width: 700px)
  .idxImgHover
    opacity: 0


@media screen and (min-width: 900px)
  .navbar
    width: 90%
  #navMenu
    display: flex
    justify-content: space-between
    align-items: center
  .navbar .navbar-menu
    text-align: center
    position: static
    bottom: none
  .donateButton
    width: 115px
    margin: 0
  .navbar-item
    padding-left: 5vw
  .navbar-item:first-child
    padding-left: 10px
  .mainContainer
    margin-left: 0px
  #postContainer
    margin-left: 14%



